$BackColorB: #1c1c1c;
$TextColorW: #cbcbcb;
$GradationColor: linear-gradient(63.27deg, #453a94 0%, #f43b47 100%);

$breakpoints: (
  sm: (
    min-width: 576px,
  ),
  md: (
    min-width: 768px,
  ),
  lg: (
    min-width: 1024px,
  ),
  xl: (
    min-width: 1280px,
  ),
) !default;
